body {
  background-color: #282c34;
  color: #fff;
}

header {
  background: #a20015;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}

header .search {
  border: solid 1px #ccc;
  padding: 0 0.5rem;
}

header .menu .logo {
  margin: 0 1rem;
}

header .menu .menu-title {
  margin: 0 1rem;
}

header .app-title {
  flex: 1;
  text-align: center;
  font-weight: bold;
  font-family: "Permanent Marker", cursive;
  font-size: 1.5rem;
}

main {
  padding: 2rem;
  position: relative;
}

.Layout {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.Layout .Menu {
  position: absolute;
  z-index: 10;
  background: #333;
  min-height: 100vh;
}

.shadow {
  position: absolute;
  z-index: 2;
  background: rgba(0, 0, 0, 0.5);
  min-height: 100vh;
  width: 100%;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul li {
  border: solid 1px #ccc;
  padding: 1rem;
  margin-bottom: 0.5rem;
}

ul li h2 {
  margin: 0;
  padding: 0;
}
