body {
	background-color: #e6e6e6;
	color: #fff;
}

header {
	background: #a20015;
	padding: 0.5rem 1rem;
	display: flex;
	align-items: center;
}

header .search {
	border: solid 1px #ccc;
	padding: 0 0.5rem;
}

header .menu .logo {
	margin: 0 1rem;
}

header .menu .menu-title {
	margin: 0 1rem;
}

header .app-title {
	flex: 1;
	text-align: center;
	font-weight: bold;
	font-family: "Permanent Marker", cursive;
	font-size: 2rem;
}

.Layout {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

main {
	display: flex;
	min-height: 75vh;
	box-sizing: border-box;
}

main .MainMenu {
	background: #333;
	display: flex;
}

main .MainMenu > div {
	padding: 1rem;
}

main .MainMenu .primary {
	background: #333;
}

main .MainMenu .primary ul {
	display: flex;
	flex-direction: column;
}

main .MainMenu .primary ul li a {
	display: inline-block;
	font-size: 2rem;
	background: rgba(0, 0, 0, 0.5);
	color: #fff;
	text-decoration: none;
	padding: 0.2rem 1rem;
	border-radius: 5px;
}

main .MainMenu .primary ul li a:hover {
	color: #a20015;
}

main .MainMenu .primary ul li a.active {
	background: rgba(255, 255, 255, 0.9);
	color: #a20015;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
